html,body{
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 14px;
}
*{
    box-sizing:border-box;
}
p,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
}

ul,li{
    padding: 0;
    list-style: none;
}
img{
	display: block;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
/*左浮动*/
.fl {
    float: left;
}
/*右浮动*/
.fr {
    float: right;
}
/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    width: 100%;
    height: 0;
    font-size: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
