
.tr {
    text-align: right;
}

.tm {
    text-align: center;
}

.tj {
    text-align: justify;
    text-align-last: justify;
}
.bold{
    font-weight:600;
}
.tc{
    text-align: center;
}
.tabs{
    padding-left:4px;
    span{
        padding:0 5px;
        //width: 130px;
        height: 17px;
        line-height: 17px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        font-size: 12px;
        color: #0077FF;
        &.selected{
            color: #18C2E9;
            border-bottom:solid 2px #0077FF;
        }
        &:hover{
            color: #0077FF;
        }
        &.disabled{
            color: #9EABBE;
            cursor:not-allowed;
        }
    }
}
.format-style{
    margin: 0 10px;
    width: calc(~"100% - 20px");
    height:calc(~"100% - 70px");
    box-sizing: border-box;
    -webkit-app-region: no-drag!important;
    border-radius:4px;
    .card{
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 3px 6px 0 rgba(148,148,197,0.10);
        border-radius: 4px;
    }
    .icon-danger{
        width: 100%;
        height: 30px;
        margin-bottom: 18px;
        background: url("../../../static/images/icon_warning.svg") no-repeat center;
        background-size: 30px 30px;
    }
}

//文本超出部分出现省略号
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

//禁止文本被选中
.nonselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * 定义滚动条
 */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    position:relative;
    right:4px;
    width: 5px;
    height: 16px;
    background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #cecece;
}
//list底部按钮
.add-bottom{
    position: fixed;
    bottom: 20px;
    left: 168px;
    margin: 0 20px;
    width: calc(~"100% - 200px");
    height:60px;
    line-height:60px;
    text-align: center;
    background-color:#fff;
    box-shadow: 0 3px 6px 0 rgba(148,148,197,0.10);
    &:before{
         content:'';
         position:absolute;
         top:0;
         left:15px;
         width:calc(~"100% - 40px");
         height:1px;
         border-top:solid 1px #D3D8E1;
     }
    .ml-40{
        margin-left:142px;
    }
}

//进度条
.process{
    position:absolute;
    bottom:-1px;
    left:0;
    width:100%;
    height:1px;
    span{
        display:block;
        height:2px;
        background: #0077FF;
        box-shadow: 0 4px 6px 0 rgba(48,48,77,0.05), 0 2px 4px 0 rgba(148,148,197,0.05);
    }
}

.letter-space{
    letter-spacing: 3px;
}



//合约地址
.contract-addr{
    padding-left:18px;
    white-space: nowrap;
    background: url("../../../static/images/contract-addr.svg") no-repeat left center;
    background-size: contain;
}
.letterSpace{
    >span{
        position:relative;
        left:2.5px;
    }
    letter-spacing: 5px;
}


//合约icon
.contract-icon{
    margin-right:7px;
    width: 42px;
    height: 42px;
    line-height:42px;
    font-size:16px;
    text-align: center;
    border-radius: 8px;
}

//钱包icon
.wallet-icon{
    margin-right:7px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height:40px;
    font-size:16px;
    font-weight: normal;
    text-align: center;
    border-radius:42px;
}

.contract-icon1{
    color:#4285F4;
    background: #D9E7FD;
    border: 1px solid #4285F4;
}
.contract-icon2{
    color:#F4B400;
    background: #FDF0CC;
    border: 1px solid #F4B400;
}
.contract-icon3{
    color:#B558F6;
    background: #F0DEFD;
    border: 1px solid #B558F6;
}
.contract-icon4{
    color:#0F9D58;
    background: #BFDED6;
    border: 1px solid #0F9D58;
    &::before{
        background: #BFDED6;
        border: 1px solid #0F9D58;
    }
}
.wallet-icon1{
    color:#4285F4;
    background: transparent no-repeat center center;
    background: url("../../../static/images/Profile pic2.svg") no-repeat;
    background-size: contain;
}
.wallet-icon2{
    color:#F4B400;
    background: transparent no-repeat center center;
    background: url("../../../static/images/Profile pic4.svg") no-repeat;
    background-size: contain;
}
.wallet-icon3{
    color:#B558F6;
    background: transparent no-repeat center center;
    background: url("../../../static/images/Profile pic.svg") no-repeat;
    background-size: contain;
}
.wallet-icon4{
    color:#0F9D58;
    background: transparent no-repeat center center;
    background: url("../../../static/images/Profile pic3.svg") no-repeat;
    background-size: contain;
}
.wallet-share {
    background: transparent no-repeat center center;
    border-width: 0px;
    border-radius: 0px;
    &.wallet-icon1{
        background: url("../../../static/images/Profile pic6.svg") no-repeat;
        background-size: contain;
    }
    &.wallet-icon2{
        background: url("../../../static/images/Profile pic8.svg") no-repeat;
        background-size: contain;
    }
    &.wallet-icon3{
        background: url("../../../static/images/Profile pic5.svg") no-repeat center center;
        background-size: contain;
    }
    &.wallet-icon4{
        background: url("../../../static/images/Profile pic7.svg") no-repeat;
        background-size: contain;
    }
}
//头部头像修改样式
.select-self{
    .wallet-icon1{
        background-size: 18px 18px;
    }
    .wallet-icon2{
        background-size: 18px 18px;
    }
    .wallet-icon3{
        background-size: 18px 18px;
    }
    .wallet-icon4{
        background-size: 18px 18px;
    }
}

//交易中展示钱包小头像
.trade-wallet-icon{
    margin-right:4px;
    display:inline-block;
    width:15px;
    height:15px;
    line-height:13px;
    text-align: center;
    border-radius:15px;
    font-size:10px;
    font-style: normal;
    vertical-align: 1px;
}

//竞选节点头像
.icon-node{
    margin-right:7px;
    display:inline-block;
    width:32px;
    height:32px;
    line-height:32px;
    text-align: center;
    font-size:16px;
    font-weight: normal;
}
.node-1{
    color:#4285F4;
    background: url("../../../static/images/61.graphics.svg") no-repeat center center;
    background-size: contain;
}
.node-2{
    color:#B558F6;
    background: url("../../../static/images/61.graphics2.svg") no-repeat center center;
    background-size: contain;
}
.node-3{
    color:#0F9D58;
    background: url("../../../static/images/61.graphics3.svg") no-repeat center center;
    background-size: contain;
}
.node-0{
    color:#F4B400;
    background: url("../../../static/images/61.graphics4.svg") no-repeat center center;
    background-size: contain;
}

//复制地址icon
.icon-copy{
    display:inline-block;
    vertical-align: -3px;
    width:24px;
    height:16px;
    background: url("../../../static/images/icon_copy.svg") no-repeat center center;
    background-size: 12px 12px;
    cursor:pointer;
    &:hover{
        background-image: url("../../../static/images/icon_copy copy.svg")
    }
}
