@blue:#0b8aee;
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .modal-main {
        box-shadow: 0 2px 16px 0 rgba(203,210,221,0.50);
        //弹窗主体
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius:5px;//3px 梁燕翔
        .modal-title {
            //弹窗标题
            padding: 0 20px 0;
            height: 45px;
            line-height: 45px;
            color: #24272B;
            font-size: 14px;
            font-weight:500;
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 1px solid #D3D8E1;
        }
        .modal-close {
            //关闭按钮
            float: right;
            width:10px;
            height:45px;
            cursor: pointer;
            font-weight: 100;
            background: url('../../../static/images/icon_Shut down.svg') no-repeat center center;
            background-size: contain;
            border:none;
        }
        .modal-content {
            padding:14px 0;
            .input {
                width: 328px;
            }


        }
        .modal-btn{
            padding-right:20px;
            height:60px;
            line-height:60px;
            text-align: right;
            border-top:solid 1px #D3D8E1;
            button{
                margin-left:40px;
                padding:0;
                width:79px;
                height:34px;
                font-size:12px;
                i{
                    width: 14px;
                    height: 14px;
                    font-size: 14px;
                    vertical-align: text-bottom;
                }
            }
            // .cancel{
            //     border: 1px solid #18C2E9;
            //     color:#18C2E9;
            // }
        }
    }
}
.modal.confirm{
    .modal-main{
        width:483px;
        font-size: 12px;
        .modal-content{
            padding:12px 0;
            .confirm-content{
                padding:14px 20px !important;
                //padding:14px 0;
                //height:126px;
                background: #ECEFF6;
                p{
                    margin-bottom:9px;
                    height:17px;
                    line-height:17px;
                    color: #24272B;
                    &:last-of-type{
                        margin-bottom:0;
                    }
                    .txt{
                        margin:0;
                        float:right;
                        color: #000000;
                    }
                }
            }
            .more{
                margin:10px;
                cursor:pointer;
                i{
                    font-size:10px;
                }
            }
            .more-txt{
                padding-left:10px;
            }
            .inputb{
                margin:30px 20px 18px;
                .el-input{
                    width:100%;
                }
            }
        }
        .modal-btn{
            //padding-top:2px;
            // line-height:1;
            // height:48.5px;
            button{
                width:79px;
                height:32px;
                font-size:12px;
            }
        }
    }
}
.sel-owner{
    .modal-main{
        width:483px;
        .modal-content{
            padding:12px 20px;
        }
    }
    .owners-list{
        max-height: 400px;
        overflow-y: auto;
    }
    .owners-list>li{
        display:flex;
        margin-bottom:10px;
        padding:10px 20px;
        height:70px;
        border: 1px solid #ECF1F8;
        border-radius: 4px;
        font-size: 14px;
        color: #24272B;
        font-weight:bold;
        cursor:pointer;
        &:hover,&.avail-cur{
            border-color:#07f;
        }
        &.avail-disabled{
            background: #ECEFF6;
        }
        &.avail-disabled:hover{
            border-color:#ECEFF6;
            cursor:not-allowed;
        }
        .lt{
            margin-top: 5px;
            margin-right:9px;
            min-width:40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .txt{
            font-size: 10px;
            color: #22272C;
            font-weight: normal;
        }
        .marB{
            margin-bottom:10px;
        }
        .wallet-name{
            width:367px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.modal.diff-modal .modal-main .modal-title{
    height: 46px;
    line-height: 46px;
}


